%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% options
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, fail_on_warning]}.


{deps, [
    {jiffy,  ".*",
     {git, "https://github.com/rcouch/jiffy.git",
      {tag, "0.13.3-barrel-1"}}},

    {snappy, ".*",
     {git, "https://github.com/rcouch/snappy.git",
      {tag, "1.1.0"}}},

    {lager, ".*",
     {git, "https://github.com/basho/lager.git",
      {tag, "2.1.0"}}},

    {ucol_nif, ".*",
     {git, "https://github.com/refuge/ucol_nif.git",
      {tag, "1.1.1"}}},

    {barrel_couchjs, ".*",
     {git, "https://github.com/barrel-db/barrel-couchjs.git",
      {branch, "master"}}},

    {gproc, ".*",
     {git, "https://github.com/uwiger/gproc.git",
      {tag, "0.5"}}}
]}.
