%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% options
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R15|R16|17"}.


{deps, [
    {jiffy,  ".*",
     {git, "https://github.com/rcouch/jiffy.git",
      {branch, "rebar3"}}},

    {snappy, ".*",
     {git, "https://github.com/rcouch/snappy.git",
      {tag, "1.1.0"}}},

    {lager, ".*",
     {git, "https://github.com/basho/lager.git",
      {tag, "2.1.0"}}},

    {ucol_nif,  ".*",
     {git, "https://github.com/refuge/ucol_nif.git",
      {tag, "1.0.0"}}}

]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src/couch_js"},
             {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src/couch_js"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src/couch_js clean"},
              {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src/couch_js clean"}]}.

